
.Header{
   display: flex;
   flex-direction: row;
   height: 4rem;
   background-color: #6E9BF3;
   padding: .5rem;
   justify-content: space-between;
}

.MenuHead{
   display: flex;
   flex-direction: row;
   gap: 1rem;
   color: #F4E450;
   align-items: center;
}
.user{
   display: flex;
   flex-direction: column;
   padding-right: 1rem;
   padding-top: .4rem;
   justify-content: center;
   align-items: flex-end;
   color: #6E9BF3;
}
.Menuitem{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #F4E450;
    font-weight: 600;
    font-size: 1.1rem;
 }
 .Menuitem:hover{
    color: #D7C415;
 }