
.Footer{
    display: flex;
    flex-direction: row;
    height: 6rem;
    background-color: #6E9BF3;
    padding: .5rem;
    justify-content: space-between;
 }
 .LogoSec{
    display: flex;
    flex-direction: column;
    color: #F4E450;
    align-items: center;
    gap: .5rem;
    padding-top: .2rem;
 }
 .Name{
    font-size: 2rem;
    font-weight: 600;
    color: #F4E450; 
 }
 .Menuhead{
    font-size: 1.5rem;
    font-weight: 700;
    color: #F4E450;
 }
 .BottomSection{
    display: flex;
    flex-direction: row;
    gap: 2rem;
 }

 .Menu{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    color: #F4E450;
    align-items: center;
 }
 .Menuitem{
     display: flex;
     flex-direction: row;
     gap: 1rem;
     color: #F4E450;
   
  }
  .mark{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    color: #F4E450;
    font-weight: 600;
    font-size: 1.1rem;
 }
  .Menuitem:hover{
     color: #D7C415;
  }